@using Microsoft.AspNetCore.Identity

@inject SignInManager<Voluntis.Models.User> signInManager;
@inject UserManager<Voluntis.Models.User> userManager;

@if (signInManager.IsSignedIn(this.User))
{
<div style="color:white;">
    Bonjour @userManager.GetUserName(this.User)
    <a asp-action="logout" asp-controller="account" asp-area="" class="btn btn-dark">Se déconnecter</a>
</div>
}
else
{
    <a asp-action="register" asp-controller="account" class="btn btn-light">S'inscrire</a>
    <a asp-action="onlogin" asp-controller="account" asp-area="" class="btn btn-dark">Se connecter</a>
}
